@import "../../variables.scss";

// all of the content on the page
.content {
  margin-left: 70px;
  margin-right: 70px;
  color: $dark-grey;

  a,
  span {
    color: $primary-red;
  }
}

.iframe-container-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 65%;
}

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  box-shadow: $primary-shadow;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.iframe-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.text,
.facts {
  line-height: 1.5;
  font-size: 1.5em;
  font-weight: 400;
  font-family: $acumin-pro;
  font-style: normal;

  cursor: default;
}

/* These are the paragraphs on the home page (nested in .content) */
.text {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: $primary-shadow;
  background: $primary-white;
  border-radius: 10px;
}

/* The ".fact-container" div contains the two fact divs with the numerical titles. */

.fact-container {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.facts {
  padding: 30px;
  box-shadow: $primary-shadow;
  background: $primary-white;
  border-radius: 10px;
  transition: $primary-transition;

  h3 {
    color: $primary-black;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    margin: 4px;
    transition: $primary-transition;
  }
}

.graphicRowOne,
.graphicRowTwo {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
}

.graphicRowOne {
  margin-top: 50px;
}

.graphicRowTwo {
  margin-bottom: 50px;
}

.graphic {
  overflow: hidden;
  transition: $primary-transition;
  box-shadow: $primary-shadow;
  border-radius: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* deletes extra padding below images, since they are by default displayed inline. */
  }
}

/* screen must be at least a portrait tablet or small desktop for hover effects */
@media (min-width: $desktop) {
  .facts:hover {
    color: $primary-black;
  }

  .facts:hover h3 {
    color: $primary-red;
    font-size: 5em;
  }
}

/* most laptop and desktop screens */
@media (max-width: $laptop) {
  .iframe-container-wrapper {
    padding: 8px;
  }

  .text,
  .facts {
    line-height: 1.4;
  }

  .text {
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 25px;
  }
}

/* screen must be no bigger than landscape phone or portrait tablet */
@media (max-width: $tablet) {
  .content {
    margin-right: 0px;
    margin-left: 0px;
    padding: 35px;
  }

  .iframe-container-wrapper {
    width: 100%;

    margin-left: -8px;
  }

  .iframe-container {
    box-shadow: $mobile-shadow;
  }

  .text,
  .facts {
    padding: 25px;
    box-shadow: $mobile-shadow;

    line-height: 1.6;
    font-size: 1.4em;
  }

  .text {
    margin-top: 20px;
    margin-bottom: 20px;

    p {
      margin: 8px;
    }
  }

  .fact-container {
    margin-top: 30px;

    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .graphicRowOne,
  .graphicRowTwo {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .graphicRowOne {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .graphicRowTwo {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .graphic {
    box-shadow: $mobile-shadow;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: $mobile) {
  .text,
  .facts {
    padding: 20px;

    line-height: 1.25;
    font-size: 1.25em;
  }
}
