/* all of the content on the page */
.content {
  margin-left: 70px;
  margin-right: 70px;
  color: var(--dark-grey);
}

.content a,
.content span {
  color: var(--primary-red);
}

.iframe-container-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 65%;
}

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  box-shadow: var(--primary-shadow);
}

.iframe-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text,
.facts {
  line-height: 1.5;
  font-size: 1.5em;
  font-weight: 400;
  font-family: var(--acumin-pro);
  font-style: normal;

  cursor: default;
}

/* These are the paragraphs on the home page (nested in .content) */
.text {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: var(--primary-shadow);
  background: var(--primary-white);
  border-radius: 10px;
}

/* The ".fact-container" div contains the two fact divs with the numerical titles. */

.fact-container {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.facts h3 {
  color: var(--primary-black);
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  margin: 4px;
  transition: var(--primary-transition);
}

.facts {
  padding: 30px;
  box-shadow: var(--primary-shadow);
  background: var(--primary-white);
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  transition: var(--primary-transition);
}

.graphicRowOne,
.graphicRowTwo {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
}

.graphicRowOne {
  margin-top: 50px;
}

.graphicRowTwo {
  margin-bottom: 50px;
}

.graphic {
  overflow: hidden;
  transition: var(--primary-transition);
  box-shadow: var(--primary-shadow);
  border-radius: 8px;
}

.graphic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* deletes extra padding below images, since they are by default displayed inline. */
}

/* screen must be at least a portrait tablet or small desktop for hover effects */
@media (min-width: 940px) {
  .facts:hover {
    color: black;
  }

  .facts:hover h3 {
    color: var(--primary-red);
    font-size: 5em;
  }
}

/* most laptop and desktop screens */
@media (max-width: 1366px) {
  .iframe-container-wrapper {
    padding: 8px;
  }

  .text,
  .facts {
    line-height: 1.4;
  }

  .text {
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 25px;
  }
}

/* screen must be no bigger than landscape phone or portrait tablet */
@media (max-width: 768px) {
  .content {
    margin-right: 0px;
    margin-left: 0px;
    padding: 35px;
  }

  .iframe-container-wrapper {
    width: 100%;

    margin-left: -8px;
  }

  .iframe-container {
    box-shadow: var(--mobile-shadow);
  }

  .text,
  .facts {
    padding: 25px;
    box-shadow: var(--mobile-shadow);

    line-height: 1.6;
    font-size: 1.4em;
  }

  .text {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text p {
    margin: 8px;
  }

  .fact-container {
    margin-top: 30px;

    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .graphicRowOne,
  .graphicRowTwo {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .graphicRowOne {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .graphicRowTwo {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .graphic {
    box-shadow: var(--mobile-shadow);
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: 480px) {
  .text,
  .facts {
    padding: 20px;

    line-height: 1.25;
    font-size: 1.25em;
  }
}
