@import "../../variables.scss";

.header {
  /* padding-left: 1rem; */
  /* height: 172px; */

  background: url(/Layout/HeaderBackground.jpeg) no-repeat center center/cover;
  background-position: 50% 52%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 5em;
}

.logo {
  color: $logo-yellow;
  margin: 0.7em 2em;

  font-size: 3em;
  font-weight: 700;
  font-family: $reklame-script;
  font-style: normal;
}

.navItem {
  color: $primary-white;
  margin-left: 2em;

  font-size: 2.25em;
  font-family: $expressway;
  font-weight: 600;
  font-style: normal;
}

/* screen must be at least a portrait tablet or small desktop for hover effects */
@media (min-width: $desktop) {
  .logo:hover {
    color: $primary-red;
  }

  .navItem:hover {
    color: $primary-red;
  }
}

/* header links stack below Start Asian Love title when resized */
/* for most laptop and desktop screens */
@media (max-width: $laptop) {
  .logo {
    font-size: 2.5em;
  }

  .navItem {
    font-size: 1.75em;
  }
}

@media (max-width: 1170px) {
  .nav {
    flex-direction: column;
  }

  .logo {
    font-size: 3.5em;
    margin-bottom: 0em;
  }

  .navItem {
    font-size: 2.25em;
    margin-bottom: 15px;
  }
}

/* screen must be no bigger than landscape phone or portrait tablet */
@media (max-width: $tablet) {
  .logo {
    font-size: 2.75em;
  }

  .navItem {
    font-size: 2em;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: $mobile) {
  .navMenu {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo {
    font-size: 1.75em;
  }

  .navItem {
    font-size: 1.005em;
  }
}
