@use "../../variables.scss" as *;

.button {
  position: fixed;
  z-index: 1;

  cursor: pointer;

  width: 80px;
  right: 20px;
  bottom: 25px;
}

/* screen must be no bigger than landscape phone or portrait tablet */
@media (max-width: $tablet) {
  .button {
    bottom: 15px;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: $mobile) {
  .button {
    width: 55px;
    right: 10px;
    bottom: 10px;
  }
}
