/* Similar to the footer, the purple header was looking a bit flat, and a darker purple hue/greater contrast looked better with the global yellow value, and reduces eye strain. To minimize the flat appearance, the header's height was increased, and I looked for a purple banner to add some styling.

We need to be careful with our color scheme, since it gives off athletic/sporty vibes with its similarity to the Los Angeles Lakers' purple and yellow color scheme. */

.header {
  /* padding-left: 1rem; */
  /* height: 172px; */
  cursor: pointer;

  background: url(https://res.cloudinary.com/dn1e07eul/image/upload/v1619843039/SAL/background-wallpaper-4k-gamer-2020-06-01-162712-6-3840x2160_t5bibd.jpg)
    no-repeat center center/cover;
  background-position: 50% 52%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-right: 5em;
}

.logo {
  color: var(--logo-yellow);
  margin: 0.7em 2em;
  
  font-size: 3em;
  font-weight: 700;
  font-family: var(--reklame-script);
  font-style: normal;
}

.navItem {
  cursor: pointer;
  color: var(--primary-white);
  margin-left: 2em;

  font-size: 2.15em;
  font-family: var(--expressway);
  font-weight: 600;
  font-style: normal;
}

/* screen must be at least a portrait tablet or small desktop for hover effects */
@media (min-width: 940px) {
  .logo:hover {
    color: var(--primary-red);
  }
  
  .navItem:hover {
    color: var(--primary-red);
  }
}

/* header links stack below Start Asian Love title when resized */
/* for most laptop and desktop screens */
@media (max-width: 1170px) {
  .nav {
    flex-direction: column;
  }

  .logo {
    font-size: 3.5em;
    margin-bottom: 0em;
  }

  .navItem {
    font-size: 2.25em;
    margin-bottom: 15px;
  }
}

/* screen must be no bigger than landscape phone or portrait tablet */
@media (max-width: 768px) {
  .logo {
    font-size: 2.75em;
  }

  .navItem {
    font-size: 2em;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: 480px) {
  .navMenu {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo {
    font-size: 1.75em;
  }

  .navItem {
    font-size: 1.15em;
  }
}
