/* The article cards are currently dislayed as a grid, but this can be changed.

Initially, each row of cards had different heights due to image size and length of headline and content. For consistent card size, fixed heights were assignd to the child divs in the cards, and clamping effects were added to only show the first 3 lines of article content (see line 85). */

/* The cards in the News, Support, and Win pages now all have the same width for consistency, and a box shadow effect with a darker yellow hue has been applied to all of them for depth. */

.articles-container-wrapper {
  display: flex;
  flex-direction: column;
}

.articles-container {
  text-align: center;

  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  column-gap: 0px;
  justify-items: center;
}

.article {
  width: 380px;
  height: 380px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--primary-white);

  box-shadow: var(--primary-shadow);
  text-align: left;
  overflow: hidden;
  transition: var(--primary-transition);
}

.article h3, #article-description {
  margin-left: 12px;
  margin-right: 12px;

  /* clamping the description text to 3 lines
  https://css-tricks.com/line-clampin/
  https://dropshado.ws/post/1015351370/webkit-line-clamp */

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article img {
  width: 100%;
  min-height: 260px;
  max-height: 260px;
  object-fit: cover;
}

.article h3 {
  color: var(--primary-black);
  margin-top: 12px;
  height: 85px;

  font-size: 1.5em;
  font-family: var(--proxima-nova-condensed);
  font-weight: 700;
}

#article-description {
  color: var(--description-text-grey);
  margin-top: 0px;
  margin-bottom: 0px;
  height: 70px;
  line-height: 1.4;
  
  font-family: var(--expressway);
}

#article-cta {
  color: var(--brighter-purple);
  float: right;

  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 0px;

  font-size: 1.25em;
  font-family: var(--proxima-nova-condensed);
  font-weight: 600;
}

.paginator {
  margin-top: 25px;
  margin-bottom: 20px;
  color: var(--primary-purple);
  display: flex;
  justify-content: center;
  
  font-size: 2.5em;
  font-family: var(--expressway);
  font-weight: 600;
}

.paginator div {
  margin: 25px;
}

.disabled {
  color: #875c8f;
}

/* screen must be at least a portrait tablet or small desktop for hover or cursor effects */
@media (min-width: 940px) {
  .article:hover {
    height: 390px;
  }
  
  #article-cta:hover {
    color: var(--primary-red);
  }
  
  .paginator .active:hover {
    color: var(--primary-red);
  }

  .paginator .active {
    cursor: pointer;
  }

  .paginator .disabled {
    cursor: not-allowed;
  }
}

/* hover effect for larger screens */
@media (min-width: 1400px) {
  .article {
    width: 380px;
    height: 355px;
  }

  .article:hover {
    height: 465px;
  }

  .article h3 {
    margin-top: 10px;
    margin-bottom: 5px;

    height: 75px;
    line-height: 1.2;
  
    font-size: 1.4em;
  }
}

/* most laptop and desktop screens */
@media (max-width: 1366px) {
  #page-heading {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .articles-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .article {
    height: 290px;

    box-shadow: var(--mobile-shadow);
  }

  .article img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
  }

  .article h3 {
    margin-top: 10px;
    margin-bottom: 5px;

    height: 75px;
    line-height: 1.2;
  
    font-size: 1.3em;
  }

  #article-description {
    height: 55px;
    line-height: 1.3;
    
    font-size: 0.9rem;
  }

  #article-cta {
    margin-top: 10px;

    font-size: 1.15em;
  }
}

/* screen must be no bigger than portrait tablet */
@media (max-width: 768px) {
  #page-heading {
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 2.5em;
  }

  .articles-container {
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 0px;
  }

  .article {
    width: 320px;
    height: 400px;

    box-shadow: var(--mobile-shadow);
  }

  .article img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
  }

  .article h3 {
    margin-top: 10px;
    margin-bottom: 5px;

    height: 75px;
    line-height: 1.2;
  
    font-size: 1.3em;
  }

  #article-description {
    height: 75px;
    line-height: 1.3;
    
    font-size: 0.9rem;

    -webkit-line-clamp: 4;
  }

  #article-cta {
    margin-top: 5px;

    font-size: 1.15em;
  }

  .paginator {
    margin-top: 15px;
    margin-bottom: 5px;

    font-size: 1.75em;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: 480px) {
  #page-heading {
    font-size: 2em;
  }

  .paginator {
    margin-top: 10px;
    margin-bottom: 5px;

    font-size: 1.25em;
  }
}
