@import "../../variables.scss";

.container {
  width: 50%;
  margin: 50px auto;
  padding: 30px;

  border-radius: 10px;
  background: $primary-white;
  box-shadow: $primary-shadow;

  p {
    font-size: 1.5em;
    font-family: $acumin-pro;
    font-weight: 400;
    font-style: normal;

    letter-spacing: 0.75px;
    line-height: 1.45;

    color: $dark-grey;

    margin-top: 30px;
  }

  a {
    font-size: 1.4em;
    font-family: $expressway;
    font-weight: 700;

    color: $primary-red;

    transition: $primary-transition;
  }
}

.backToWins {
  font-size: 2.5em;
  font-weight: 700;
  font-family: $expressway;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;

  cursor: pointer;

  color: $primary-purple;
}

/* screen must be at least a portrait tablet or small desktop for hover effects */
@media (min-width: $desktop) {
  .container a:hover {
    font-size: 1.5em;
  }

  .backToWins:hover {
    color: $primary-red;
  }
}

/* screen must be no bigger than portrait tablet */
@media (max-width: $tablet) {
  .container {
    width: 75%;
    margin: 40px auto;

    p {
      font-size: 1.3em;

      letter-spacing: 0.3px;
      line-height: 1.1;

      margin-top: 20px;
    }

    a {
      font-size: 1.15em;
    }
  }

  .backToWins {
    font-size: 2.2em;

    margin-bottom: 20px;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: $mobile) {
  .container {
    width: 70%;
    padding: 20px;

    margin: 20px auto;
    margin-bottom: 90px;

    box-shadow: $mobile-shadow;

    p {
      font-size: 1.05em;

      letter-spacing: 0.5px;
      line-height: 1.2;

      margin-top: 10px;
    }

    a {
      font-size: 1.05em;
    }
  }

  .backToWins {
    font-size: 2em;

    margin-bottom: 20px;
  }
}
