@import "../../variables.scss";

.description {
  margin: 40px 70px;
  padding: 30px;
  box-shadow: $primary-shadow;
  background: $primary-white;
  border-radius: 10px;

  line-height: 1.25;
  font-size: 1.5em;
  font-family: $acumin-pro;
  font-weight: 400;
  font-style: normal;

  p {
    text-align: center;

    color: $dark-grey;
  }
}

.scroll-to-section {
  text-align: center;

  margin: 50px 10px;
  margin-bottom: 40px;

  h3 {
    margin-top: 25px;
    margin-bottom: 12px;

    font-size: 2.5em;
  }

  button {
    padding: 12px;
    margin: 10px;
    width: 190px;

    border-radius: 10px;
    border: none;

    text-transform: uppercase;

    color: $primary-white;
    background: $primary-purple;
    box-shadow: 6px 6px 12px $shadow-yellow;

    font-size: 1.1em;
    font-family: $acumin-pro;
    font-weight: 600;
  }
}

.scroll-to-section h3,
.wins-section h3 {
  color: $primary-purple;

  font-family: $expressway;
  font-weight: 700;
  font-style: normal;
}

.wins-section {
  font-size: 2em;
  text-align: center;

  h3 {
    margin-top: 50px;
    margin-bottom: 12px;

    font-size: 1.6em;
  }
}

.wins-section-description {
  margin-left: 70px;
  margin-right: 70px;

  line-height: 1.25;

  color: $dark-grey;

  font-size: 0.75em;
  font-family: $acumin-pro;
  font-weight: 400;
  font-style: normal;
}

/* screen must be at least a portrait tablet or small desktop for hover or cursor effects */
@media (min-width: $desktop) {
  .scroll-to-section button {
    cursor: pointer;
  }

  .scroll-to-section button:hover {
    background-color: $brighter-purple;
    transition: all 0.2s ease-in-out;
  }
}

/* most laptop and desktop screens */
@media (max-width: $laptop) {
  .description {
    padding: 25px;
    box-shadow: $mobile-shadow;

    line-height: 1.2;
    font-size: 1.38em;

    p {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  .button {
    box-shadow: 6px 6px 12px $shadow-yellow;
  }
}

/* screen must be no bigger than portrait tablet */
@media (max-width: $tablet) {
  .description {
    margin: 25px;
    padding: 20px;

    line-height: 1.2;
    font-size: 1.15em;

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .scroll-to-section {
    h3 {
      font-size: 2em;
    }

    button {
      padding: 10px;

      width: 160px;

      font-size: 0.9em;
    }
  }

  .wins-section h3 {
    margin-top: 40px;

    font-size: 1.3em;
  }

  .wins-section-description {
    margin-top: 15px;

    font-size: 0.65em;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: $mobile) {
  .description {
    padding: 18px;
    margin-bottom: 15px;

    line-height: 1.25;
    font-size: 1em;
  }

  .scroll-to-section {
    margin-top: 40px;
    margin-bottom: 0px;

    h3 {
      font-size: 1.8em;
    }

    button {
      margin: 8px;
      width: 150px;

      letter-spacing: 0.45px;
      font-size: 0.8em;
    }
  }

  .wins-section h3 {
    margin-top: 30px;

    font-size: 1em;
  }

  .wins-section-description {
    margin-left: 22px;
    margin-right: 22px;

    font-size: 0.5em;
  }
}
