@use "../../variables.scss" as *;

.resource {
  width: 350px;
  height: 515px;
  padding: 20px;
  border-radius: 10px;

  background-color: $primary-white;
  box-shadow: $primary-shadow;

  overflow: hidden;

  h4 {
    color: $primary-black;

    height: 60px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;

    line-height: 1.2;
    letter-spacing: 0.5px;
    font-size: 0.75em;
    font-family: $proxima-nova-condensed;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: left;

    color: $dark-grey;

    font-size: 0.5em;
    font-family: $expressway;
  }

  a {
    color: $brighter-purple;
    float: right;

    margin-right: 6px;
    margin-top: 6px;

    font-size: 0.6em;
    font-family: $proxima-nova-condensed;
    font-weight: 600;
  }
}

/* screen must be at least a portrait tablet or small desktop for hover or cursor effects */
@media (min-width: $desktop) {
  .resource:hover {
    height: 580px;
    transition: $primary-transition;

    cursor: default;
  }

  .resource a:hover {
    color: $primary-red;

    cursor: pointer;
  }
}

/* hover effect for larger screens */
@media (min-width: $laptop) {
  .resource:hover {
    height: 635px;
  }
}

/* most laptop and desktop screens */
@media (max-width: $laptop) {
  .resource {
    width: 320px;
    height: 470px;

    box-shadow: $mobile-shadow;

    h4 {
      line-height: 1.15;

      font-size: 0.7em;
    }

    p {
      margin-top: 8px;
      margin-bottom: 15px;
    }

    a {
      margin-right: 2px;
      margin-top: 2px;

      font-size: 0.6em;
    }
  }
}

/* screen must be no bigger than portrait tablet */
@media (max-width: $tablet) {
  .resource {
    width: 290px;
    height: 525px;

    h4 {
      font-size: 0.6em;
    }

    p {
      margin-top: 0px;

      font-size: 0.45em;
    }

    a {
      font-size: 0.55em;
    }
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: $mobile) {
  .resource {
    width: 270px;
    height: 485px;

    h4 {
      margin-top: 10px;
      height: 53px;

      font-size: 0.58em;
    }

    p {
      margin-bottom: 10px;

      font-size: 0.42em;
    }

    a {
      margin-right: 0px;

      font-size: 0.52em;
    }
  }
}
