@use "../../variables.scss" as *;

.button {
  padding: 12px;
  margin: 10px;
  width: 150px;
  border-radius: 10px;

  border: none;
  text-transform: uppercase;

  color: $primary-white;
  background: $primary-purple;
  box-shadow: 6px 6px 12px $shadow-yellow;

  font-size: 1em;
  font-family: $acumin-pro;
  font-weight: 600;
}

/* screen must be at least a portrait tablet or small desktop for button effects */
@media (min-width: $desktop) {
  .button {
    cursor: pointer;
  }

  .button:hover {
    background-color: $brighter-purple;
    transition: all 0.2s ease-in-out;
  }

  .button:focus {
    background-color: $primary-red;
    color: $primary-white;
  }
}

/* most laptop and desktop screens */
@media (max-width: $laptop) {
  .button {
    padding: 12px;
    width: 120px;

    box-shadow: 6px 6px 8px $shadow-yellow;
  }
}

/* screen must be no bigger than portrait tablet */
@media (max-width: $tablet) {
  .button {
    padding: 10px;

    font-size: 0.9em;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: $mobile) {
  .button {
    padding: 8px;
    margin: 5px;
    width: 110px;

    box-shadow: 4px 4px 6px $shadow-yellow;

    font-size: 0.75em;
  }
}
