.resources-container {
  margin: 45px 50px;
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 3rem;
  justify-items: center;
}

.resource {
  width: 350px;
  height: 515px;
  padding: 20px;
  border-radius: 10px;

  background-color: var(--primary-white);
  box-shadow: var(--primary-shadow);

  overflow: hidden;
}

.resource h4 {
  color: var(--primary-black);

  height: 60px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0px;

  line-height: 1.2;
  letter-spacing: 0.5px;
  font-size: 0.75em;
  font-family: var(--proxima-nova-condensed);
}

.resource p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;

  color: var(--dark-grey);

  font-size: 0.5em;
  font-family: var(--expressway);
}

.resource a {
  color: var(--brighter-purple);
  float: right;

  margin-right: 6px;
  margin-top: 6px;

  font-size: 0.6em;
  font-family: var(--proxima-nova-condensed);
  font-weight: 600;
}

/* screen must be at least a portrait tablet or small desktop for hover or cursor effects */
@media (min-width: 940px) {
  .resource:hover {
    height: 580px;
    transition: var(--primary-transition);

    cursor: default;
  }

  .resource a:hover {
    color: var(--primary-red);

    cursor: pointer;
  }
}

/* hover effect for larger screens */
@media (min-width: 1366px) {
  .resource:hover {
    height: 635px;
  }
}

/* most laptop and desktop screens */
@media (max-width: 1366px) {
  .resource {
    width: 320px;
    height: 470px;

    box-shadow: var(--mobile-shadow);
  }

  .resource h4 {
    line-height: 1.15;

    font-size: 0.7em;
  }

  .resource p {
    margin-top: 8px;
    margin-bottom: 15px;
  }

  .resource a {
    margin-right: 2px;
    margin-top: 2px;

    font-size: 0.6em;
  }
}

/* screen must be no bigger than portrait tablet */
@media (max-width: 768px) {
  .resources-container {
    margin: 45px 50px;
    margin-bottom: 60px;

    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  .resource {
    width: 290px;
    height: 525px;
  }

  .resource h4 {
    font-size: 0.6em;
  }

  .resource p {
    margin-top: 0px;

    font-size: 0.45em;
  }

  .resource a {
    font-size: 0.55em;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: 480px) {
  .resources-container {
    margin: 40px 50px;
    margin-bottom: 60px;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 40px;
  }

  .resource {
    width: 270px;
    height: 485px;
  }

  .resource h4 {
    margin-top: 10px;
    height: 53px;

    font-size: 0.58em;
  }

  .resource p {
    margin-bottom: 10px;

    font-size: 0.42em;
  }

  .resource a {
    margin-right: 0px;

    font-size: 0.52em;
  }
}
