.container {
  width: 50%;
  margin: 50px auto;
  padding: 30px;

  border-radius: 10px;
  background: var(--primary-white);
  box-shadow: var(--primary-shadow);
}

.container img {
  width: 100%;
}

.container p {
  font-size: 1.5em;
  font-family: var(--acumin-pro);
  font-weight: 400;
  font-style: normal;

  letter-spacing: 0.75px;
  line-height: 1.45;

  color: var(--dark-grey);

  margin-top: 30px;

}

.container a {
  font-size: 1.4em;
  font-family: var(--expressway);
  font-weight: 700;

  color: var(--primary-red);

  transition: var(--primary-transition);
}

.backToWins {
  font-size: 2.5em;
  font-weight: 700;
  font-family: var(--expressway);

  margin-bottom: 30px;

  display: flex;
  justify-content: center;

  cursor: pointer;

  color: var(--primary-purple);
}

/* screen must be at least a portrait tablet or small desktop for hover or cursor effects */
@media (min-width: 940px) {
  .container a:hover {
    font-size: 1.5em;
  }

  .backToWins:hover {
    color: var(--primary-red);
  }
}

/* screen must be no bigger than portrait tablet */
@media (max-width: 768px) {
  .container {
    width: 75%;
    margin: 40px auto;
  }
  .container p {
    font-size: 1.3em;

    letter-spacing: 0.3px;
    line-height: 1.1;
  
    margin-top: 20px;
  }
  .container a {
    font-size: 1.15em;
  }
  .backToWins {
    font-size: 2.2em;

    margin-bottom: 20px;
}
  
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: 480px) {
}


/* @media (max-width: 1170px) {
  .whiteBox {
    width: 90%;
    font-size: 1.25em;
  }
}

@media (max-width: 650px) {
  .whiteBox {
    font-size: 0.8em;
    margin: 10px auto;
  }

  .title {
    font-size: 1.5em;
    margin: 30px auto;
    color: #610172;
    font-weight: 700;
  }

  .backToWins {
    margin: 30px auto;
    font-size: 1.5em;
  }
} */
