.description {
  margin: 40px 70px;
  padding: 30px;
  box-shadow: var(--primary-shadow);
  background: var(--primary-white);
  border-radius: 10px;

  line-height: 1.25;
  font-size: 1.5em;
  font-family: var(--acumin-pro);
  font-weight: 400;
  font-style: normal;
}

.description p {
  text-align: center;

  color: var(--dark-grey);
}

.scrollToSection {
  margin-top: 40px;
  margin-bottom: 50px;

  text-align: center;
}

.scrollToSection h3,
.wins-section h3 {
  margin-top: 25px;
  margin-bottom: 12px;

  color: var(--primary-purple);

  font-family: var(--expressway);
  font-weight: 700;
  font-style: normal;
}

.scrollToSection h3 {
  font-size: 2.5em;
}

.button {
  padding: 12px;
  margin: 10px;
  width: 160px;

  border-radius: 10px;
  border: none;

  text-transform: uppercase;

  color: var(--primary-white);
  background: var(--primary-purple);
  box-shadow: 6px 6px 12px var(--shadow-yellow);

  font-size: 1em;
  font-family: var(--acumin-pro);
  font-weight: 600;
}

.wins-section {
  font-size: 2em;
  text-align: center;
}

.wins-section h3 {
  font-size: 2em;
}

.section-paragraph {
  line-height: 1.25;
  font-size: 1em;
  font-family: var(--acumin-pro);
  font-weight: 400;
  font-style: normal;
}

/* Pinning a header or footer according to height of middle content
https://codepen.io/jdsteinbach/pen/YPPegq */

@media (min-width: 940px) {
  .button {
    cursor: pointer;
  }

  .button:hover {
    /* background-color: #9b00b6; */
    background-color: var(--brighter-purple);
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 950px) {
  .wins-section h3 {
    font-size: 1.5em;
  }

  .description {
    font-size: 0.8em;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 625px) {
  .wins-section h3 {
    font-size: 1em;
  }

  .description {
    font-size: 0.6em;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
  }
}
