.container {
  width: 50%;
  margin: 50px auto;
  padding: 30px;

  border-radius: 10px;
  background: var(--primary-white);
  box-shadow: var(--primary-shadow);
}

.container img {
  width: 100%;
}

.container p {
  font-size: 1.5em;
  font-family: var(--acumin-pro);
  font-weight: 400;
  font-style: normal;

  letter-spacing: 0.75px;
  line-height: 1.45;

  color: var(--dark-grey);

  margin-top: 30px;

}

.container a {
  font-size: 1.4em;
  font-family: var(--expressway);
  font-weight: 700;

  color: var(--primary-red);

  transition: var(--primary-transition);
}

.container a:hover {
  font-size: 1.5em;
}


.backToWins {
  cursor: pointer;
  margin: 60px auto;
  font-size: 2.5em;
  font-weight: 700;
  color: #610172;
  font-family: expressway, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.backToWins:hover {
  color: #f21905;
  transition: all 0.3s ease-in-out;
}

/* @media (max-width: 1170px) {
  .whiteBox {
    width: 90%;
    font-size: 1.25em;
  }
}

@media (max-width: 650px) {
  .whiteBox {
    font-size: 0.8em;
    margin: 10px auto;
  }

  .title {
    font-size: 1.5em;
    margin: 30px auto;
    color: #610172;
    font-weight: 700;
  }

  .backToWins {
    margin: 30px auto;
    font-size: 1.5em;
  }
} */
