/* Initial background colors of the carousel slides: */
/* background: #dbefff; */
/* background: #419be0; */

.container {
  /* testing out visibility of arrows, full-width of slides, and background colors */
  /* padding: 40px; */
  background: #ffe66a;
}

.slick-slide img,
.slick-slide h3 {
  margin: auto;
  /* max-width: 100%; */
  /* max-width: 800px; */
  /* width: 90%; */

  max-height: 500px;
  object-fit: cover;
}

.slick-slide img {
  width: 100%;
}

.slick-slide h3 {
  font-size: 2.5em;
  color: rgb(53, 53, 53);
  line-height: 1.25;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 90px;
}

@media (max-width: 1300px) {
  .slick-slide h3 {
    font-size: 1.75em;
  }
}

@media (max-width: 900px) {
  .slick-slide h3 {
    font-size: 1.5em;
    padding-top: 60px;
  }
}

@media (max-width: 600px) {
  .slick-slide h3 {
    font-size: 1.25em;
    padding-top: 40px;
  }
}

@media (max-width: 420px) {
  .slick-slide h3 {
    font-size: 0.9em;
    padding-top: 20px;
  }
}

@media (max-width: 320px) {
  .slick-slide h3 {
    font-size: 0.65em;
    padding-top: 10px;
  }
}
