@use "variables";
@use "mixins";

/* normalizing css between browsers */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

body {
  background: variables.$background-yellow;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.page-heading {
  @include mixins.page-heading(4em, 45px, 45px);
}
