@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alata&family=Alfa+Slab+One&family=Calistoga&family=Lalezar&family=Patua+One&family=Playfair+Display:wght@800;900&family=Ramabhadra&family=Secular+One&family=Ultra&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
}

/* commenting out the viewport height (100vh) fixes the footer issue! */
