/* @import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alata&family=Alfa+Slab+One&family=Calistoga&family=Lalezar&family=Patua+One&family=Playfair+Display:wght@800;900&family=Ramabhadra&family=Secular+One&family=Ultra&display=swap"); */

@import url("https://use.typekit.net/wdx7jdm.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #ffe66a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
}

/* commenting out the viewport height (100vh) fixes the footer issue! */

/* https://fonts.adobe.com/fonts/proxima-nova#fonts-section */
/* 
Proxima Nova Black

font-family: proxima-nova, sans-serif;
font-weight: 900;
font-style: normal;


Proxima Nova Bold

font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: normal;


Proxima Nova Bold Italic

font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: italic;


Proxima Nova Extrabold

font-family: proxima-nova, sans-serif;
font-weight: 800;
font-style: normal;


Proxima Nova Regular

font-family: proxima-nova, sans-serif;
font-weight: 400;
font-style: normal;


Proxima Nova Italic

font-family: proxima-nova, sans-serif;
font-weight: 400;
font-style: italic;


Proxima Nova Extra Condensed Black

font-family: proxima-nova-extra-condensed, sans-serif;
font-weight: 900;
font-style: normal;


Proxima Nova Extra Condensed Bold Italic

font-family: proxima-nova-extra-condensed, sans-serif;
font-weight: 700;
font-style: italic;


Proxima Nova Extra Condensed Bold

font-family: proxima-nova-extra-condensed, sans-serif;
font-weight: 700;
font-style: normal;


Proxima Nova Extra Condensed Italic

font-family: proxima-nova-extra-condensed, sans-serif;
font-weight: 400;
font-style: italic;


Proxima Nova Extra Condensed Regular

font-family: proxima-nova-extra-condensed, sans-serif;
font-weight: 400;
font-style: normal;


Proxima Nova Extra Condensed Extrabold

font-family: proxima-nova-extra-condensed, sans-serif;
font-weight: 800;
font-style: normal;


Proxima Nova Condensed Black

font-family: proxima-nova-condensed, sans-serif;
font-weight: 900;
font-style: normal;


Proxima Nova Condensed Bold

font-family: proxima-nova-condensed, sans-serif;
font-weight: 700;
font-style: normal;


Proxima Nova Condensed Bold Italic

font-family: proxima-nova-condensed, sans-serif;
font-weight: 700;
font-style: italic;


Proxima Nova Condensed Regular

font-family: proxima-nova-condensed, sans-serif;
font-weight: 400;
font-style: normal;


Proxima Nova Condensed Italic

font-family: proxima-nova-condensed, sans-serif;
font-weight: 400;
font-style: italic;


Proxima Nova Condensed Extrabold

font-family: proxima-nova-condensed, sans-serif;
font-weight: 800;
font-style: normal; */
