/* The article cards are currently dislayed as a grid, but this can be changed.

Initially, each row of cards had different heights due to image size and length of headline and content. For consistent card size, fixed heights were assignd to the child divs in the cards, and clamping effects were added to only show the first 3 lines of article content (see line 85).

I've noticed that several websites use the Proxima Nova typeface for bold headlines, so I imported the font from Adobe Fonts into the global CSS file, but we can use other fonts too! */

/* The cards in the News, Support, and Win pages now all have the same width for consistency, and a box shadow effect with a darker yellow hue has been applied to all of them for depth. */

@import url("https://use.typekit.net/wdx7jdm.css");

.container {
  align-items: center;
  text-align: center;
}

.container h2 {
  color: #6a1f77;
  /* color: #f21905; */
  margin-top: 50px;
  font-size: 3.5em;
  font-weight: 800;
}

.main {
  text-align: center;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}

.post {
  width: 425px;
  height: 425px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 8px;
  background-color: white;

  box-shadow: 26px 26px 26px #ecb724;
  text-align: left;
  text-justify: inter-word;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}

.post:hover {
  height: 555px;
  transform: scale(1.05);
}

.post img {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* optional image zoom in on hover effect */

/* .post:hover img {
  transform: scale(1.1);
} */

.post h1 {
  font-size: 1.5em;
  color: #313131;
  text-align: left;
  cursor: pointer;
  margin-bottom: 2px;
  letter-spacing: 0.25px;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 16px;
  height: 95px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post p {
  color: rgb(109, 109, 109);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
  line-height: 1.45;
  margin-top: 15px;
  height: 70px;

  /* clamping the description text to 3 lines
  https://css-tricks.com/line-clampin/
  https://dropshado.ws/post/1015351370/webkit-line-clamp */

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post span {
  /* color: rgb(86, 103, 255); */
  color: #9729ff;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 25px;
  float: right;
}

.post span:hover {
  color: #f21905;
}

.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  font-weight: 800;
  white-space: nowrap;
  color: #875c8f;
}

.paginator div {
  margin: 25px;
  padding-bottom: 20px;
}

.paginator .active {
  cursor: pointer;
}

.paginator .active:hover {
  color: #f21905;
}

.current-page {
  color: #f21905;
}

.paginator .disabled {
  cursor: not-allowed;
  color: #f7cb54;
}

@media (max-width: 1430px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .paginator {
    font-size: 2em;
  }

  .container h2 {
    font-size: 3em;
    margin-bottom: 0px;
  }
}

@media (max-width: 625px) {
  .post {
    width: 350px;
  }

  .paginator {
    font-size: 1.5em;
  }

  .container h2 {
    font-size: 2.75em;
    margin-bottom: 0px;
  }
}

@media (max-width: 420px) {
  .paginator {
    font-size: 1.25em;
  }

  .container h2 {
    font-size: 2.25em;
    margin-bottom: 0px;
  }
}

@media (max-width: 320px) {
  .post {
    width: 280px;
  }

  .paginator {
    font-size: 1em;
    margin-top: -20px;
    margin-bottom: -10px;
  }
}
