.main {
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  /* border: 1px solid #2d2d2d; */
  margin-bottom: 5em;
}

.card {
  width: 450px;
  height: auto;
  margin-bottom: 5px;
  padding: 15px;
  border-bottom: 1px solid black;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  line-height: 1.5;
  box-shadow: 4px 4px 16px #cccccc;
  text-align: justify;
  text-justify: inter-word;
  transition: all 0.2s ease-in-out;

  position: relative;
}

.card:hover {
  transform: scale(1.03);
}

.image {
  width: 100%;
}

.titlebox {
  height: 1.75em;
}

.card h2 {
  font-size: 0.7em;
  color: #000000;
  text-align: justify;
  text-justify: inter-word;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: "Helvetica Neue", sans-serif;
}

.content {
  font-size: 0.7em;
}

.cardtext {
  font-size: 0.9em;
  padding-bottom: 0.75em;
}

.cardbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  padding-top: 2em;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: rgb(204, 201, 201);
  font-variant: small-caps;
  font-family: Helvetica Neue, sans-serif;
}

@media (max-width: 1330px) {
  .main {
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}

@media (max-width: 860px) {
  .main {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 600px) {
  .main {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .post {
    width: 350px;
  }
}
