.main {
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  outline: red;
}

.card {
  width: 400px;
  height: auto;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  line-height: 1.5;
  box-shadow: 4px 4px 16px #92b7c2;
  text-align: justify;
  text-justify: inter-word;
}

.card {
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.image {
  width: 100%;
}

.card h1 {
  font-size: 1.15em;
  color: #083357;
  text-align: justify;
  text-justify: inter-word;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: "Helvetica Neue", sans-serif;
}
