@import url("https://use.typekit.net/wdx7jdm.css");

.container {
  align-items: center;
  text-align: center;
}

.supportTitle {
  color: #6a1f77;
  /* color: #f21905; */
  margin-top: -30px;
  margin-bottom: -80px;
  font-size: 3.25em;
  font-family: expressway, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.main {
  text-align: center;
}

.description {
  margin: 20px auto;
  font-size: 1.5em;
  font-weight: 800;
  padding: 10px;
  color: #4d005a;
  margin-bottom: 10px;
  font-family: acumin-pro, sans-serif;

  font-weight: 400;

  font-style: normal;
}

.content {
  padding: 0.25em;
  font-size: 2em;
}

/* "Viewing All Resources for Asian Folx" text */
.main p {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 800;
  margin-top: 80px;
  margin-bottom: 0px;
  color: #4d005a;
  font-family: expressway, sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Styling for the current selected allyship and categories */
.category {
  color: #f21905;
}

.allyship {
  color: #f21905;
}

@media (max-width: 1110px) {
  .main p {
    font-size: 1em;
    font-weight: 800;
    margin-top: 50px;
  }
}

@media (max-width: 950px) {
  .main p {
    font-size: 0.77em;
    font-weight: 800;
    margin-top: 50px;
  }
}

@media (max-width: 770px) {
  .main p {
    font-size: 0.7em;
    margin-top: 40px;
    line-height: 1.6;
  }
}

@media (max-width: 650px) {
  .main p {
    font-size: 0.7em;
  }
}

@media (max-width: 450px) {
  .main p {
    font-size: 0.5em;
  }
}
