.container {
  align-items: center;
  text-align: center;
}

.main {
  text-align: center;
}

.content {
  padding: 1em;
  font-size: 2em;
}

/* "Viewing All Resources for Asian Folx" text */
.main p {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 800;
  margin-top: 80px;
  margin-bottom: 0px;
  color: #4d005a;
}

/* Styling for the current selected allyship and categories */
.category {
  color: #f21905;
}

.allyship {
  color: #f21905;
}

@media (max-width: 1110px) {
  .main p {
    font-size: 1em;
    font-weight: 800;
    margin-top: 50px;
  }
}

@media (max-width: 950px) {
  .main p {
    font-size: 0.77em;
    font-weight: 800;
    margin-top: 50px;
  }
}

@media (max-width: 770px) {
  .main p {
    font-size: 0.7em;
    margin-top: 40px;
    line-height: 1.6;
  }
}

@media (max-width: 650px) {
  .main p {
    font-size: 0.7em;
  }
}

@media (max-width: 450px) {
  .main p {
    font-size: 0.5em;
  }
}
