.player-wrapper {
  position: relative;
  display: flex;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  box-shadow: 26px 26px 26px #ecb724;
}

/* .react-player {
    position: absolute;
    top: 0;
    left: 0;
} */

/* The width of the video player has been reduced by wrapping the '.container' div around the '.player-wrapper' div. 

Video player is still responsive, but it's smaller than ideal when browser is resized, so media query will be tweaked with.

The stackoverflow answer I am constantly googling for:
https://stackoverflow.com/questions/15376634/how-can-i-center-a-div-within-another-div */

.container {
  width: 65%; /* Can be in percentage or pixel values. */
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

/* Wraps around both the '.container' and '.player-wrapper' divs. */

/* comment out later, possibly place image or background behind video player, maybe parallax effect? */

/* .wide {
  background: #dbefff;
} */

@media (max-width: 1100px) {
  .container {
    width: 100%;
  }
}
