@import url("https://use.typekit.net/wdx7jdm.css");

/* Similar to the news page, the hover action triggers the card to expand, with a call to action ("Learn more") to prompt the user to read/visit the ID page. */

/* Grid display of filtered resources */

.main {
  margin: 50px auto;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.card {
  width: 425px;
  height: 650px;
  margin-bottom: 5px;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  line-height: 1.5;
  box-shadow: 26px 26px 26px #ecb724;
  position: relative;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}

.card img {
  width: 100%;
  min-height: 513.33px;
  max-height: 513.33px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
  height: 780px;
}

.portrait {
  width: 100%;
}

/* The titlebox is the headline for the resource title, added a fixed height so the contents in each card start at the same height. */

.titlebox {
  height: 1.9em;
}

.card h2 {
  font-size: 0.75em;
  color: #505050;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 6px;
}

.content {
  font-size: 0.55em;
  color: rgb(114, 113, 113);
  padding-top: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
}

.card span {
  /* color: rgb(86, 103, 255); */
  color: #c165d1;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 2px;
  float: right;
  font-size: 20px;
}

.card span:hover {
  color: #f21905;
}

.cardtext {
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

@media (max-width: 1430px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 625px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .card {
    width: 350px;
    height: 560px;
  }

  .card img {
    min-height: 450px;
    max-height: 450px;
  }

  .card h2 {
    font-size: 0.6em;
    margin-top: 2px;
  }

  .card:hover {
    transform: scale(1.03);
  }

  .card:hover {
    height: 690px;
  }

  .content {
    margin-top: -25px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 280px;
    height: 415px;
  }

  .card img {
    min-height: 300px;
    max-height: 300px;
  }

  .card h2 {
    font-size: 0.5em;
    margin-top: 0px;
  }

  .content {
    visibility: hidden;
  }

  .card:hover {
    height: 415px;
  }
}
