.container {
  align-items: center;
  text-align: center;
}

.main {
  text-align: center;
}

.title {
  font-size: 3em;
  margin: 50px auto;
  color: #610172;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
}

.whiteBox {
  background: white;
  border-radius: 10px;
  color: rgb(80, 80, 80);
  width: 50%;
  height: auto;
  margin: 50px auto;
  padding: 30px;
  position: relative;
  box-shadow: 26px 26px 26px #ecb724;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.75px;
  line-height: 1.45;
  text-align: left;
  text-justify: inter-word;
  transition: all 0.5s ease-in-out;
}

.whiteBox img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.text {
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
}

.whiteBox span {
  color: #f21905;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.whiteBox span:hover {
  font-size: 1.08em;
  transition: all 0.5s ease-in-out;
}

.backToWins {
  cursor: pointer;
  margin: 60px auto;
  font-size: 2em;
  font-weight: 700;
  color: #610172;
}

.backToWins:hover {
  color: #f21905;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1170px) {
  .whiteBox {
    width: 90%;
    font-size: 1.25em;
  }
}

@media (max-width: 650px) {
  .whiteBox {
    font-size: 0.8em;
    margin: 10px auto;
  }

  .title {
    font-size: 1.5em;
    margin: 30px auto;
    color: #610172;
    font-weight: 700;
  }

  .backToWins {
    margin: 30px auto;
    font-size: 1.5em;
  }
}
