/* Grid display of filtered resources */
.resources-container {
  margin: 50px auto;

  display: grid;
  grid-gap: 3rem;
  column-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
}

.resource-card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-white);

  box-shadow: var(--primary-shadow);

  transition: var(--primary-transition);
  position: relative;
  overflow: hidden;
}

.resource-card img {
  width: 100%;
}

.resource-card h2 {
  color: var(--primary-black);
  margin-top: 8px;
  margin-bottom: 0px;
  height: 60px;

  text-align: center;
  letter-spacing: 0.5px;

  font-size: 0.7em;
  font-family: var(--helvetica-neue);
  /* font-family: var(--proxima-nova-condensed); */
}

.description {
  color: var(--description-text);
  margin-top: 8px;
  padding-bottom: 1.15em;

  font-size: 0.55em;
  font-family: var(--expressway);
}

.categories {
  display: flex;
  position: absolute;
  bottom: 0;

  letter-spacing: 0.8px;
  color: rgb(223, 221, 221);

  font-variant: small-caps;
  font-size: 0.8em;
  font-family: var(--helvetica-neue);
  font-weight: 700;
}

.categories p {
  margin-top: 18px;
  margin-bottom: 18px;
}

/* when no resources text */
.no-resources-text {
  text-transform: uppercase;
  color: var(--primary-red);

  font-size: 1.25em;
  font-family: var(--expressway);
  font-weight: 700;
}

/* screen must be at least a portrait tablet or small desktop for hover or cursor effects */
@media (min-width: 940px) {
  .resource-card {
    cursor: pointer;
  }

  .resource-card:hover {
    transform: scale(1.05);
  }

  .resource-card:hover .categories {
    /* color: #9b6ea3; */
    color: var(--brighter-purple);
    transition: var(--primary-transition);
  }
}

/* For grid consistency with the News and Wins pages, the Support page grid is in 3 columns */

@media (max-width: 1430px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 625px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .resource-card {
    width: 350px;
    height: 490px;
  }

  .categories {
    visibility: hidden;
  }
}

@media (max-width: 320px) {
  .resource-card {
    width: 280px;
    height: 325px;
  }

  .description {
    visibility: hidden;
  }
}
