/* Grid display of filtered resources */
.resources-container {
  margin: 50px auto;

  display: grid;
  grid-gap: 3rem;
  column-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-items: center;
}

.resource-card {
  width: 360px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-white);

  box-shadow: var(--primary-shadow);

  transition: var(--primary-transition);
  position: relative;
  overflow: hidden;
}

.resource-card img {
  width: 100%;
}

.resource-card h3 {
  color: var(--primary-black);
  margin-top: 8px;
  margin-bottom: 0px;
  height: 55px;

  text-align: center;
  letter-spacing: 0.5px;

  font-size: 0.7em;
  font-family: var(--helvetica-neue);
  /* font-family: var(--proxima-nova-condensed); */
}

.description {
  color: var(--description-text);
  margin-top: 8px;
  padding-bottom: 1.15em;

  font-size: 0.55em;
  font-family: var(--expressway);
}

.categories {
  display: flex;
  position: absolute;
  bottom: 0;

  letter-spacing: 0.8px;
  color: rgb(223, 221, 221);

  font-variant: small-caps;
  font-size: 0.8em;
  font-family: var(--helvetica-neue);
  font-weight: 700;
}

.categories p {
  margin-top: 18px;
  margin-bottom: 18px;
}

.no-resources-text {
  text-transform: uppercase;
  color: var(--primary-red);

  font-size: 1.25em;
  font-family: var(--expressway);
  font-weight: 700;
}

/* screen must be at least a portrait tablet or small desktop for hover or cursor effects */
@media (min-width: 940px) {
  .resource-card {
    cursor: pointer;
  }

  .resource-card:hover {
    transform: scale(1.05);
  }

  .resource-card:hover .categories {
    /* color: #9b6ea3; */
    color: var(--brighter-purple);
    transition: var(--primary-transition);
  }
}

/* most laptop and desktop screens */
@media (max-width: 1366px) {
  .resources-container {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .resource-card {
    width: 340px;
  }

  .resource-card h3 {
    letter-spacing: 0.25px;
    height: 60px;

    /* font-size: 0.65em; */
  }

  .description { 
    margin-top: 0px;
    
    font-size: 0.5em;
  }
}

/* screen must be no bigger than portrait tablet */
@media (max-width: 768px) {
  .resources-container {
    grid-gap: 2rem;
    column-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .resource-card {
    width: 300px;

    box-shadow: var(--mobile-shadow);
  }

  .resource-card h3 {
    letter-spacing: 0px;
    height: 55px;

    font-size: 0.6em;
  }

  .description {
    margin-top: 0px;
    
    font-size: 0.45em;
  }

  .categories {
    color: var(--brighter-purple);

    font-size: 0.65em;
  }

  .categories p {
    margin-top: 13px;
    margin-bottom: 13px;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: 480px) {
  .resource-card {
    box-shadow: var(--mobile-shadow);

    font-size: 1.25em;
  }
  
  .resource-card {
    width: 280px;
  }
  
  .resource-card h3 {
    margin-top: 0px;

    font-size: 0.45em;
  }

  .description {
    margin-top: 0px;
    
    font-size: 0.35em;
  }

  .categories {
    color: var(--brighter-purple);

    font-size: 0.55em;
  }

  .categories p {
    margin-top: 13px;
    margin-bottom: 13px;
  }
}
