/* Grid display of filtered resources */
.resources-container {
  margin: 50px auto;

  display: grid;
  grid-gap: 3rem;
  column-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
}

.card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-white);

  box-shadow: var(--primary-shadow);
  
  cursor: pointer;

  transition: var(--primary-transition);
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
}

/* The titlebox is the headline for the resource title, I gave a fixed height so the contents in each card start at the same height. */

.titlebox {
  height: 1.9em;
}

.card h2 {
  color: var(--primary-black);

  text-align: center;
  letter-spacing: 0.5px;

  font-size: 0.8em;
  font-family: var(--helvetica-neue);
  /* font-family: var(--proxima-nova-condensed); */
}

.card:hover .cardbottom {
  /* color: #9b6ea3; */
  color: var(--brighter-purple);
  transition: var(--primary-transition);
}

.content {
  font-size: 0.55em;
  color: rgb(109, 109, 109);
}

.cardtext {
  font-size: 0.95em;
  padding-bottom: 0.5em;
}

/* cardbottom text are the gray categories below resource content/description */
.cardbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: rgb(223, 221, 221);
  font-variant: small-caps;
  font-family: Helvetica Neue, sans-serif;
}

/* The "Sorry! No resources Yet!" text */
.main .sorry {
  grid-column-start: 1;
  grid-column-end: 5;
  font-weight: 700;
  white-space: none;
  color: rgb(197, 197, 197);
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-size: 1.25em;
  color: #f21905;
}

/* For grid consistency with the News and Wins pages, the Support page grid is in 3 columns */

@media (max-width: 1430px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 625px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .card {
    width: 350px;
    height: 490px;
  }

  .cardbottom {
    visibility: hidden;
  }
}

@media (max-width: 320px) {
  .card {
    width: 280px;
    height: 325px;
  }

  .content {
    visibility: hidden;
  }
}
