.description {
  margin: 40px 70px;
  padding: 30px;
  box-shadow: var(--primary-shadow);
  background: var(--primary-white);
  border-radius: 10px;

  line-height: 1.25;
  font-size: 1.5em;
  font-family: var(--acumin-pro);
  font-weight: 400;
  font-style: normal;
}

.description span {
  color: var(--primary-red);
}

.description p {
  cursor: default;

  text-align: center;

  color: var(--dark-grey);
  margin-top: 15px;
  margin-bottom: 15px;
}

.filter-section {
  text-align: center;

  margin-top: 80px;
}

.viewing {
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-purple);

  font-size: 2em;
  font-family: var(--expressway);
  font-weight: 700;
  font-style: normal;
}

.selected-category {
  color: var(--primary-red);
}

.selected-allyship {
  color: var(--primary-red);
}

/* most laptop and desktop screens */
@media (max-width: 1366px) {
  .description {
    padding: 25px;
    box-shadow: var(--mobile-shadow);

    line-height: 1.2;
    font-size: 1.38em;
  }

  .description p {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .viewing {
    font-size: 1.8em;
  }
}

/* screen must be no bigger than portrait tablet */
@media (max-width: 768px) {
  .description {
    margin: 25px;
    padding: 20px;

    line-height: 1.2;
    font-size: 1.15em;
  }

  .description p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .viewing {
    font-size: 1.6em;
  }
}

/* screen must be no bigger than landscape phone or below */
@media (max-width: 480px) {
  .page-heading {
    font-size: 2em;
  }

  .description {
    padding: 18px;

    line-height: 1.25;
    font-size: 1.1em;
  }

  .description p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .viewing {
    font-size: 1.4em;
  }
}